body{
	margin: 0px;
	font-family: 'Oswald', sans-serif;	
	font-size: 15px;
	color: #fff;
	
}

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5{
	margin: 0;
}

/* container */

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* intro */

.intro{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../images/intro.jpg") center no-repeat;
	background-size: cover;
	
}

.intro_inner{
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}

.intro_title{
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.;
}

.intro_undtitle{
	margin-top: 200px;
	font-size: 30px;
	font-weight: bold;
	
}

/* header */

.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 28px;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

/* header nav */

.header_nav{
	font-size: 15px;
	text-text-transform: uppercase;
	
}

.nav_link{
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	color: #fff;
	text-decoration: none;
	
	transition: color 0.2s linear;
}

.nav_link:hover{
	color: #7e95ae;
	
}

/* Section */

.section{
	background: url("../images/gradient.jpg") center no-repeat;
	background-size: cover;
	height: 100vh;
}

.section_header{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 60px;
	
	text-align: center;
}

.section_title{
	font-size: 45px;
	color: #fff;
	
}

.section_text{
	font-size: 20px;
	margin-top: 50px;
	
	
}

.section_text2{
	font-size: 20px;
	margin: 350 auto 60px;
}